$background-color: #1E263D;
$underline-color: rgba(25, 200, 185, 0.8);
#movie-card {
    height: 700px;
    background-color: $background-color;
    border: solid 1px $underline-color;
}

#movie-card_img {
    max-height: 500px;
    width: 100%;
    margin: auto;
}

#details-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: $underline-color;
}