$background-color: #1E263D;
$underline-color: rgba(25, 200, 185, 0.8);
$favorite-star: #FFD700;
$buttons-inactive: #E4E4E4;
$button-hover: rgba(25, 200, 185, 1);
$text-color: #F7F7F7;
$font: 'Fredoka',
sans-serif;
.main-view {
    background-color: $background-color;
    color: $text-color;
    font-family: $font;
    width: 100vw;
    padding: 0;
}

#movie-card-main {
    margin: 100px 0 20px 0;
}