$background-color: #1E263D;
$button-color: rgba(25, 200, 185, 0.8);
$favorite-star: #FFD700;
$buttons-inactive: #E4E4E4;
$button-hover: rgba(25, 200, 185, 1);
$text-color: #F7F7F7;
$dark-text: #1E263D;
#genre-view {
    color: $dark-text;
    margin: 100px 0;
}

.genre-title {
    font-size: 24px;
}

.subtitle {
    font-size: 20px;
    margin: 5px;
    font-weight: 300;
}

.movie-carousel {
    padding: 10px;
}

#mini-movie-card_img {
    height: 400px;
    width: 300px;
}