$background-color: #1E263D;
$button-color: rgba(25, 200, 185, 0.8);
$favorite-star: #FFD700;
$buttons-inactive: #E4E4E4;
$button-hover: rgba(25, 200, 185, 1);
$text-color: #F7F7F7;
$dark-text: #1E263D;
$font: 'Fredoka';
.view-container {
    height: 100vh;
    background-image: url('../../img/movie-theater-picture.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

#registration-form {
    flex-direction: row;
    background-color: #E4E4E4;
    color: $dark-text;
    font-family: $font;
    width: 50vw;
}

#register-btn_primary {
    background-color: $button-color;
    border-color: #1E263D;
    color: $dark-text;
    margin-top: 10px;
    &:hover {
        background-color: $button-hover;
    }
}