$background-color: #1E263D;
$button-color: rgba(25, 200, 185, 0.8);
$favorite-star: #FFD700;
$buttons-inactive: #E4E4E4;
$button-hover: rgba(25, 200, 185, 1);
$text-color: #F7F7F7;
$dark-text: #1E263D;
$font: 'Fredoka';
.page-header {
    margin-top: 80px;
    color: $text-color;
}

.profile-view {
    min-height: 600px;
}

.card-title_profile {
    color: $dark-text;
    text-align: center;
    background-color: #A5BECC;
    border-radius: 2px;
    padding: 5px;
    margin-top: 15px;
    height: 2.5rem;
}

#update-btn_primary {
    background-color: $button-color;
    border-color: #1E263D;
    color: $dark-text;
    margin-top: 10px;
    &:hover {
        background-color: $button-hover;
    }
}

.userdata-label {
    font-weight: bold;
}

.removeFav__button {
    margin-bottom: 25px;
}