$background-dark: #1E263D;
$background-light: #E4E4E4;
$button-color: rgba(25, 200, 185, 0.6);
$favorite-star: #FFD700;
$buttons-inactive: #E4E4E4;
$button-hover: rgba(25, 200, 185, 1);
$text-color: #F7F7F7;
$dark-text: #1E263D;
$font: 'Fredoka',
sans-serif;
#movie-view {
    margin-top: 100px;
    background-color: $background-light;
    color: $dark-text;
}

.movie-title {
    font-size: 2rem;
    font-weight: 400;
}

#image-wrapper {}

#movie-poster {
    width: 200px;
    height: 300px;
    padding: 5px;
}

.label {
    font-weight: 600;
    width: 100px;
    padding: 10px 0;
    margin-right: 60px;
}

.movie-details {
    padding: 6px;
}

#return-button {
    background-color: $button-color;
    height: auto;
    width: 70px;
    padding: 3px;
    &:hover {
        background-color: $button-hover;
    }
}