$background-dark: #1E263D;
$background-light: #E4E4E4;
$button-color: rgba(25, 200, 185, 0.8);
$favorite-star: #FFD700;
$buttons-inactive: #E4E4E4;
$button-hover: rgba(25, 200, 185, 1);
$text-color: #F7F7F7;
$dark-text: #1E263D;
$font: 'Fredoka',
sans-serif;
#movie-director {
    margin-top: 100px;
    background-color: $background-light;
    color: $dark-text;
}

.view-header {
    border-bottom: 1px ridge #1E263D;
}

.label {
    font-weight: 600;
    width: 100px;
}

.value {
    padding: 5px;
}

#return-button {
    background-color: $button-color;
    height: auto;
    width: 70px;
    padding: 3px;
    &:hover {
        background-color: $button-hover;
    }
}